<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand"><b>Shop</b>163</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">首页</a></li>
                    <div th:if="${#authentication != null}" th:remove="tag">
                        <div isec:authorize-role="buyer" th:remove="tag">
                            <li><a th:href="@{/account}">账务</a></li>
                            <li><a th:href="@{/shopcart}">购物车</a></li>
                        </div>
                        <div isec:authorize-role="seller" th:remove="tag">
                            <li><a th:href="@{/detail#!/public}">发布</a></li>
                        </div>
                    </div>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <div th:with="isLogin=${#authentication != null}" th:remove="tag">
                        <li th:unless="${isLogin}" id="header-login-btn"><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</a></li>
                        <!-- User Account Menu -->
                        <li th:if="${isLogin}" class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="http://static.tongjilab.cn/image/netease.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span isec:authentication="nickname" class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="http://static.tongjilab.cn/image/netease.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        尊贵的
                                        <span th:text="${#authentication.role?.zhName}"></span>
                                        ，您好
                                        <br/>
                                        <small>账号：<span th:text="${#authentication.username}"></span></small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <!--<div class="pull-left">-->
                                        <!--<a th:href="@{/setting}" class="btn btn-default btn-flat"><span class="fa fa-cog"></span> 设置</a>-->
                                    <!--</div>-->
                                    <div class="pull-right">
                                        <a onclick="logout()" class="btn btn-default btn-flat"><span class="fa fa-power-off"></span> 退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

