<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" th:with="relativePath=${#httpServletRequest.getServletPath()}">
            <li th:class="${relativePath eq '/' or #strings.startsWith(relativePath,'/?')} ? 'active'">
                <a th:href="@{/}">
                    <i class="fa fa-dashboard"></i><span>首页</span>
                </a>
            </li>
        	<li class="treeview" th:classappend="${#strings.startsWith(relativePath,'/nos')} ? 'active'">
        	   <a href="#">
                   <i class="fa fa-files-o"></i> <span>NOS对象存储</span>
                   <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
               </a>
               <ul class="treeview-menu">
                <li th:class="${#strings.startsWith(relativePath,'/nos/upload')} ? 'active'"><a th:href="@{/nos/upload}"><i class="fa fa-circle-o"></i>上传</a></li>
                <li th:class="${#strings.startsWith(relativePath,'/nos/download')} ? 'active'"><a th:href="@{/nos/download}"><i class="fa fa-circle-o"></i>下载</a></li>
                <li th:class="${#strings.startsWith(relativePath,'/nos/delete')} ? 'active'"><a th:href="@{/nos/delete}"><i class="fa fa-circle-o"></i>删除</a></li>
                <li th:class="${#strings.startsWith(relativePath,'/nos/list')} ? 'active'"><a th:href="@{/nos/list}"><i class="fa fa-circle-o"></i>列表</a></li>
               </ul>
        	</li>

            <li class="treeview" th:classappend="${#strings.startsWith(relativePath,'/nkv')} ? 'active'">
                <a href="#">
                    <i class="fa fa-dropbox"></i> <span>NKV缓存管理</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <!--<li th:class="${#strings.startsWith(relativePath,'/nkv/query')} ? 'active'"><a th:href="@{/nkv/query}"><i class="fa fa-circle-o"></i>查询</a></li>-->
                    <li th:class="${#strings.startsWith(relativePath,'/nkv/query2')} ? 'active'"><a th:href="@{/nkv/query2}"><i class="fa fa-circle-o"></i>查询</a></li>
                    <!--<li th:class="${#strings.startsWith(relativePath,'/nkv/delete')} ? 'active'"><a th:href="@{/nkv/delete}"><i class="fa fa-circle-o"></i>删除</a></li>-->
                    <li th:class="${#strings.startsWith(relativePath,'/nkv/delete2')} ? 'active'"><a th:href="@{/nkv/delete2}"><i class="fa fa-circle-o"></i>删除</a></li>
                    <!--<li th:class="${#strings.startsWith(relativePath,'/nkv/add')} ? 'active'"><a th:href="@{/nkv/add}"><i class="fa fa-circle-o"></i>添加</a></li>-->
                    <li th:class="${#strings.startsWith(relativePath,'/nkv/add2')} ? 'active'"><a th:href="@{/nkv/add2}"><i class="fa fa-circle-o"></i>添加</a></li>
                    <!--<li th:class="${#strings.startsWith(relativePath,'/nkv/list')} ? 'active'"><a th:href="@{/nkv/list}"><i class="fa fa-circle-o"></i>列表</a></li>-->
                </ul>
            </li>

            <li class="treeview" th:classappend="${#strings.startsWith(relativePath,'/ncr')} ? 'active'">
                <a href="#">
                    <i class="fa fa-key"></i> <span>NCR/Redis管理</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li th:class="${#strings.startsWith(relativePath,'/ncr/query')} ? 'active'"><a th:href="@{/ncr/query}"><i class="fa fa-circle-o"></i>查询</a></li>
                    <li th:class="${#strings.startsWith(relativePath,'/ncr/delete')} ? 'active'"><a th:href="@{/ncr/delete}"><i class="fa fa-circle-o"></i>删除</a></li>
                    <li th:class="${#strings.startsWith(relativePath,'/ncr/add')} ? 'active'"><a th:href="@{/ncr/add}"><i class="fa fa-circle-o"></i>添加</a></li>
                </ul>
            </li>
            <li isec:authorize-url="/system/user" th:class="${#strings.startsWith(relativePath,'/system/user')} ? 'active'">
                <a th:href="@{/system/user}">
                    <i class="fa fa-user"></i><span>用户管理</span>
                </a>
            </li>

            <!--Multilevel-->
            <!-- 
            <li th:if="${not #lists.isEmpty(navs)}" class="treeview active" th:each="nav:${navs}">
                <a th:href="@{${nav.url}?:'#'}">
                    <span th:text="${nav.label}">label</span>
                    <span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
                </a>
                <ul class="treeview-menu" th:each="second:${nav.childNodes}">
                    <li th:name="${second.id}" th:data="${currentMenu}" th:class="(${second.id}==${currentMenu})?'active':''">
                    	<a href="#" th:href="@{${second.url}}">
	                    	<i class="fa fa-circle-o"></i>
	                    	<span th:text="${second.label}">label</span>
                        </a>
                    </li>
                </ul>
            </li>
             -->

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>