<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <div th:replace="common/head"></div>
</head>
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">
    <div th:replace="common/header"></div>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>首页
                    <small>V1.0</small>
                </h1>
            </section>
            <section class="content">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#all" data-toggle="tab">所有内容</a></li>
                        <li id="li-unpurchased" style="display: none;"><a href="#unpurchased" data-toggle="tab">未购买的内容</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="all"></div>
                        <div class="tab-pane" id="unpurchased"></div>
                        <!--<div class="overlay">-->
                            <!--<i class="fa fa-refresh fa-spin"></i>-->
                        <!--</div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/footer"></div>
</div>

<div th:replace="common/script"></div>
<script id="tpl-content" type="text/html">
    {{if list && list.length > 0}}
    <div class="row">
        {{each list item}}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="item-{{item.id}}">
            <div class="box box-widget">
                <div class="box-body img-box">
                    <a href="{{$imports.ctxPath + '/show?id=' + item.id}}">
                        <div class="img-wrapper">
                            <img src="{{item.imgType === 2 ? $imports.ctxPath + item.imgUrl : item.imgUrl}}" alt="{{item.title}}">
                        </div>
                    </a>
                </div>
                <div class="box-footer content-desc">
                    <div class="row">
                        <div class="col-md-12 ellipsis emphasize-href">
                            <a href="{{$imports.ctxPath + '/show?id=' + item.id}}" title="{{item.title}}">
                                {{item.title}}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ellipsis">
                            <span class="text-muted">¥</span>
                            <span class="c-price f14" title="{{item.price}}">{{item.price}}</span>
                        </div>
                        {{if type===1 && item.purchased}}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <span class="pull-right badge bg-red">已购买</span>
                        </div>
                        {{/if}}
                        {{if type===2}}
                            {{if item.salesAmount > 0}}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <span class="pull-right badge bg-red">已售出</span>
                            </div>
                            {{else}}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <span class="delete-icon" title="删除" data-id="{{item.id}}" data-title="{{item.title}}">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </span>
                            </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>