<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <div th:replace="common/head"></div>
</head>
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">
    <div th:replace="common/header"></div>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>首页
                    <small>V1.0</small>
                </h1>
            </section>
            <section class="content">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#all" data-toggle="tab">所有内容</a></li>
                        <li><a href="#unpurchased" data-toggle="tab">未购买的内容</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="all">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="box box-widget">
                                        <div class="box-body" style="padding: 0px;">
                                            <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1546747750147&di=60498e4f41d074df77decd6adad517fa&imgtype=0&src=http%3A%2F%2Fpic1.nipic.com%2F2008-12-30%2F200812308231244_2.jpg" alt="Photo">
                                        </div>
                                        <div class="box-footer" style="background: #f7f7f7;">
                                            <div class="">
                                                Java编程思想
                                            </div>
                                            <div>
                                                <span class="text-muted">¥</span>
                                                <span style="color: #dd4b39; font-weight: bold;">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="box box-widget">
                                        <div class="box-body" style="padding: 0px;">
                                            <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1547212080441&di=da613af4af5444d4007fe91fd48ae116&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fdesign%2F00%2F79%2F50%2F59%2F58db72685ef1f.png" alt="Photo">
                                        </div>
                                        <div class="box-footer" style="background: #f7f7f7;">
                                            <div class="">
                                                Java编程思想
                                            </div>
                                            <div>
                                                <span class="text-muted">¥</span>
                                                <span style="color: #dd4b39; font-weight: bold;">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="box box-widget">
                                        <div class="box-body" style="padding: 0px;">
                                            <img class="img-responsive" src="http://www.pptbz.com/pptpic/UploadFiles_6909/201211/2012111719294197.jpg" alt="Photo">
                                        </div>
                                        <div class="box-footer" style="background: #f7f7f7;">
                                            <div class="">
                                                Java编程思想
                                            </div>
                                            <div>
                                                <span class="text-muted">¥</span>
                                                <span style="color: #dd4b39; font-weight: bold;">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="box box-widget">
                                        <div class="box-body" style="padding: 0px;">
                                            <img class="img-responsive" src="../dist/img/photo2.png" alt="Photo">
                                        </div>
                                        <div class="box-footer" style="background: #f7f7f7;">
                                            <div class="">
                                                Java编程思想
                                            </div>
                                            <div>
                                                <span class="text-muted">¥</span>
                                                <span style="color: #dd4b39; font-weight: bold;">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="box box-widget">
                                        <div class="box-body" style="padding: 0px;">
                                            <img class="img-responsive" src="../dist/img/photo2.png" alt="Photo">
                                        </div>
                                        <div class="box-footer" style="background: #f7f7f7;">
                                            <div class="">
                                                Java编程思想
                                            </div>
                                            <div>
                                                <span class="text-muted">¥</span>
                                                <span style="color: #dd4b39; font-weight: bold;">100</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="tab-pane" id="unpurchased">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/footer"></div>
</div>

<div th:replace="common/script"></div>

<script type="text/javascript">

    $(function(){
        console.log("hello");
    });

</script>

</body>
</html>