<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop163 | 登录</title>
    <div th:replace="common/head"></div>
</head>

<body class="hold-transition login-page skin-red layout-top-nav">
<div th:replace="common/header"></div>
<div class="login-box">
    <div class="login-logo">
        <b>Shop</b>163
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">欢迎访问</p>
        <form id="loginForm">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="用户名" id="username"/>
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码" id="password"/>
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">登录</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<div th:replace="common/script"></div>
<script>
    $(function () {
        $("#header-login-btn").hide();

        $("#loginForm").submit(function (e) {
            e.preventDefault();
            var username = $("#username").val() || "";
            username = username.trim();
            if (!username) {
                toastr.error("用户名不能为空");
                return;
            }
            var password = $("#password").val() || "";
            password = password.trim();
            if (!password) {
                toastr.error("密码不能为空");
                return;
            }
            var passwordMd5 = md5(password);
            $.ajax({
                url: ctxPath + "/api/common/user/login",
                type: "POST",
                data: $.param({username: username, passwordMd5: passwordMd5}),
                beforeSend: function () {
                    NProgress.start();
                },
                complete: function () {
                    NProgress.done();
                },
                success: function (data, textStatus, jqXHR) {
                    if (data.successful) {
                        var redirectUrl = data.data.redirectUrl;
                        $(location).prop("href", redirectUrl);
                    } else {
                        toastr.error(data.error);
                    }
                }
            });
        });

    });
</script>
</body>
</html>