<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>购物车</title>
    <div th:replace="common/head"></div>
</head>
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">
    <div th:replace="common/header"></div>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>购物车
                    <small>V1.0</small>
                </h1>
            </section>
            <section class="content">
                <div class="box box-danger">

                    <div id="item-list" class="box-body table-responsive no-padding">
                    </div>

                    <div class="box-footer">
                        <button type="button" id="back" class="btn btn-default">返回</button>
                        <button type="button" id="buy" class="btn btn-danger pull-right">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 购买
                        </button>
                    </div>

                </div>

            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/footer"></div>
</div>
<div th:replace="common/script"></div>
<script id="tpl-shopcart" type="text/html">
    <table class="table table-hover table-striped">
        <tbody>
        <tr>
            <th>内容图片</th>
            <th>内容名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
        </tr>
        {{if list && list.length > 0}}
        {{each list item}}
        <%  %>
        <tr>
            <td>
                <a href="{{$imports.ctxPath + '/show?id=' + item.contentId}}">

                    <div class="img-background">

                    <div class="img-wrapper">
                        <img src="{{item.imgType === 2 ? $imports.ctxPath + item.imgUrl : item.imgUrl}}" alt="{{item.title}}">
                    </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{{$imports.ctxPath + '/show?id=' + item.contentId}}">
                    {{item.title}}
                </a>
            </td>
            <td>
                <span class="text-muted">¥</span>
                <span>{{item.price.toFixed(2)}}</span>
            </td>
            <td>{{item.amount}}</td>
            <td>
                <span class="text-muted">¥</span>
                <span>{{(item.price * item.amount).toFixed(2)}}</span>
            </td>
            <td class="emphasize-href">
                <a class="f12" href="javascript:void(0);">删除</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="6" class="text-center">购物车为空</td>
        </tr>
        {{/if}}
        </tbody>
    </table>
</script>
<script th:src="@{/js/shopcart.js}"></script>

</body>
</html>