<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>购物车</title>
    <div th:replace="common/head"></div>
</head>
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">
    <div th:replace="common/header"></div>
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>购物车
                    <small>V1.0</small>
                </h1>
            </section>
            <section class="content">
                <div class="box box-danger">

                    <div id="item-list" class="box-body table-responsive no-padding">
                    </div>

                    <div class="box-footer">
                        <button type="button" id="back" class="btn btn-default">返回</button>
                        <button type="button" id="buy" class="btn btn-danger pull-right" style="display: none;">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 购买
                        </button>
                    </div>

                    <div class="overlay" style="display: none;" id="spin-mask">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>

                </div>

            </section>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="common/footer"></div>
</div>
<div th:replace="common/script"></div>
<script id="tpl-shopcart" type="text/html">
    <table class="table table-hover table-striped">
        <tbody>
        <tr>
            <th>内容图片</th>
            <th>内容名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
        </tr>
        <% var total = 0,tmp,exist; %>
        {{if list && list.length > 0}}
        {{each list item}}
        <%
            exist = item.status === 0;
            if (exist) {
                tmp = item.price * item.amount;
                total += tmp;
            }
        %>
        <tr data-id="{{item.id}}">
            <td>
                <a href="{{$imports.ctxPath + '/show?id=' + item.contentId}}">

                    <div class="img-background">

                    <div class="img-wrapper">
                        <img src="{{item.imgType === 2 ? $imports.ctxPath + item.imgUrl : item.imgUrl}}" alt="{{item.title}}">
                    </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="{{$imports.ctxPath + '/show?id=' + item.contentId}}">
                    {{item.title}}
                </a>
                {{if !exist}}
                <br/>
                <span class="badge bg-red">已下架</span>
                {{/if}}
            </td>
            <td>
                <span class="text-muted">¥</span>
                <span>{{item.price.toFixed(2)}}</span>
            </td>
            <td>
                {{if exist}}
                <div class="input-group number-spinner" data-trigger="spinner">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" data-spin="down"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                    <input value="{{item.amount}}" title="请输入购买数量" data-min="1" data-max="999999" type="text" class="form-control text-center" data-rule="quantity">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" data-spin="up"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
                {{/if}}
            </td>
            <td>
                {{if exist}}
                <span class="text-muted">¥</span>
                <span>{{tmp.toFixed(2)}}</span>
                {{/if}}
            </td>
            <td class="emphasize-href">
                <a class="f12 btn-delete" href="javascript:void(0);">删除</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="6" class="text-center">购物车为空</td>
        </tr>
        {{/if}}
        </tbody>
        {{if list && list.length > 0}}
        <tfoot>
        <tr>
            <td colspan="4" class="total">
                总计：
            </td>
            <td>
                <span class="text-muted">¥</span>
                <span id="priceSum">{{total.toFixed(2)}}</span>
            </td>
            <td></td>
        </tr>
        </tfoot>
        {{/if}}
    </table>
</script>
<script th:src="@{/js/shopcart.js}"></script>

</body>
</html>