<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.homework.content.mapper.ContentMapper">

    <resultMap id="BaseResultMap" type="com.netease.homework.content.entity.Content">
        <result column="Id" jdbcType="BIGINT" property="id" />
        <result column="Title" jdbcType="VARCHAR" property="title" />
        <result column="Price" jdbcType="DOUBLE" property="price" />
        <result column="ImgUrl" jdbcType="VARCHAR" property="imgUrl" />
        <result column="ImgType" jdbcType="TINYINT" property="imgType" />
        <result column="SalesAmount" jdbcType="BIGINT" property="salesAmount" />
        <result column="Summary" jdbcType="VARCHAR" property="summary" />
        <result column="DetailText" jdbcType="VARCHAR" property="detailText" />
        <result column="UserId" jdbcType="BIGINT" property="userId" />
        <result column="Status" jdbcType="TINYINT" property="status" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO content(Title,Price,ImgUrl,ImgType,Summary,DetailText,UserId)
        VALUES (#{title},#{price},#{imgUrl},#{imgType},#{summary},#{detailText},#{userId})
    </insert>
    <update id="update">
        UPDATE content
        SET Title = #{title},
            Price = #{price},
            ImgType = #{imgType},
            ImgUrl = #{imgUrl},
            Summary = #{summary},
            DetailText = #{detailText}
        WHERE Id = #{id} AND Status = 0
    </update>

    <!-- 物理删除 -->
    <delete id="deleteById">
      DELETE FROM content WHERE Id = #{id}
    </delete>

    <!-- 逻辑删除 -->
    <update id="deleteByIdLogic">
        UPDATE content
        SET Status = -1
        WHERE Id = #{id} AND Status = 0
    </update>
    <update id="updateAmountBatch">
        UPDATE content
        SET SalesAmount =
            CASE Id
            <foreach collection="list" item="item" separator=" ">
                WHEN #{item.contentId} THEN SalesAmount + #{item.amount}
            </foreach>
            END
        WHERE Id IN
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item.contentId}
            </foreach>
    </update>

    <select id="listForAnonymous" resultMap="BaseResultMap">
      SELECT Id, Title, Price, ImgUrl, ImgType FROM content WHERE Status = 0
    </select>

    <select id="listBySellerId" resultMap="BaseResultMap">
        SELECT Id, Title, Price, ImgUrl, ImgType, SalesAmount FROM content WHERE UserId = #{userId} AND Status = 0
    </select>

    <select id="getFullinfoById" resultType="com.netease.homework.content.entity.Content">
        SELECT * FROM content WHERE Id = #{id} AND Status = 0
    </select>

    <select id="getBaseinfoById" resultType="com.netease.homework.content.entity.Content">
        SELECT Id, Title, Price, ImgUrl, ImgType, Summary, DetailText FROM content WHERE Id = #{id} AND Status = 0
    </select>

    <select id="countById" resultType="java.lang.Integer">
        SELECT count(*) FROM content WHERE Id = #{id} AND Status = 0
    </select>
    <select id="listByContentIds" resultType="com.netease.homework.content.entity.Content">
        <![CDATA[
			SELECT * FROM content
			WHERE Id IN
		]]>
        <foreach collection="ids" open=" (" close=") " item="id" separator=",">
            <![CDATA[
				#{id}
			]]>
        </foreach>
        <if test="!withDeleted">
           AND Status = 0
        </if>
    </select>

</mapper>