<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.homework.content.mapper.ShopcartMapper">

    <resultMap id="BaseResultMap" type="com.netease.homework.content.entity.Shopcart">
        <result column="Id" jdbcType="BIGINT" property="id" />
        <result column="ContentId" jdbcType="BIGINT" property="contentId" />
        <result column="Amount" jdbcType="BIGINT" property="amount" />
        <result column="UserId" jdbcType="BIGINT" property="userId" />
        <result column="CreateTime" jdbcType="BIGINT" property="createTime" />
        <result column="UpdateTime" jdbcType="BIGINT" property="updateTime" />
    </resultMap>
    <insert id="addOrUpdate">
        INSERT INTO shopcart(ContentId,Amount,UserId,CreateTime, UpdateTime)
        VALUES (#{contentId},#{amount},#{userId},#{createTime},#{updateTime})
        ON DUPLICATE KEY UPDATE Amount = Amount + #{amount},UpdateTime = #{updateTime}
    </insert>
    <update id="updateItemAmount">
        <![CDATA[
        UPDATE shopcart
        SET
          Amount = #{amount},
          UpdateTime = #{updateTime}
        WHERE
          UserId = #{uid}
          AND ContentId = #{contentId}
          AND UpdateTime < #{updateTime}
        ]]>
    </update>
    <delete id="deleteByUidAndCid">
        DELETE FROM shopcart WHERE UserId = #{uid} AND ContentId = #{cid}
    </delete>
    <delete id="deleteByUid">
        DELETE FROM shopcart WHERE UserId = #{uid}
    </delete>
    <select id="listItemByUserId" resultType="com.netease.homework.content.entity.Shopcart">
        SELECT * FROM shopcart WHERE UserId = #{userId}
    </select>


</mapper>